<p>コメント件数：<%= anime.post_comments.count %></p>
<% anime.post_comments.each do |post_comment| %>
  <%= post_comment.user.name %></br>
  <%= post_comment.comment %></br>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %></br>
  <% if post_comment.user == current_user %>
    <div class="comment-delete">
      <%= link_to "削除",  anime_post_comment_path(post_comment.anime, post_comment), method: :delete, remote: true %>
    </div>
  <% end %>
<% end %>