<h3>詳細画面</h3>
<div class="post-body">
  <%= attachment_image_tag @anime, :image, :fill, 500, 500, fallback: "142_refileDownloadImage.png" %>
  <p>タイトル：<%= @anime.title %></p>
  <!--星評価-->
   <div id="star-rate-<%= @anime.id %>"></div>
    <script>
    $('#star-rate-<%= @anime.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= @anime.rate %>,
    });
    </script>
  <!--/星評価-->
  <p>感想：<%= @anime.body %></p>
  <p>ユーザーネーム：<%=link_to @anime.user.name, user_path(@anime.user) %></p>
  <p>投稿日時：<%= @anime.created_at.strftime('%Y/%m/%d') %></p>
  <% if @anime.user == current_user %>
    <%= link_to "編集", edit_anime_path(@anime) %>
    <%= link_to "削除", anime_path(@anime), method: :delete %>
  <% end %>
</div>
<!--いいね-->
<div id="likes_buttons_<%= @anime.id %>">
  <%= render partial: 'likes/like', locals: { anime: @anime} %>
</div>
<!--/いいね-->

<!--コメント-->
<div id="comments_area">
  <%= render partial: 'post_comments/index', locals: { anime: @anime } %>
</div>
<!--/コメント-->
<!--コメントフォーム-->
<div class="new-comment">
  <% if user_signed_in? %>
    <div class="comment-create">
      <%= render partial: 'post_comments/form', locals: { post_comment: @post_comment, anime: @anime } %>
    </div>
  <% end %>
</div>
<!--/コメントフォーム-->
