<!DOCTYPE html>
<html>
  <head>
    <title>Anima</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<link rel="icon" type="image/png" href="/anima_icon.png">-->
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag 'logo.png', :size =>'70x60' %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if user_signed_in? %>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link_to "Home", animes_path, class: "fas fa-home nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Newposts", new_anime_path, class: "fas fa-feather-alt nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Mypage", user_path(current_user.id), class: "fas fa-user nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Users", users_path, class: "fas fa-users nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt nav-link text-dark" %>
                </li>
              </ul>
            <% else %>
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <%= link_to "Home", root_path, class: "fas fa-home nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "fas fa-book-open nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Signup", new_user_registration_path, class: "fas fa-user-plus nav-link text-dark" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Login", new_user_session_path, class: "fas fa-sign-out-alt nav-link text-dark" %>
                </li>
              </ul>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
      <p class="notice"><%= notice %>
      <!--<p class="alert"><%#= alert %>-->
      <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4 offset-md-5">
            <p>©︎ Mizuking 2021 </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>



